kunden2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kunden">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="kunde">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="id"/>
              <xs:element type="xs:string" name="vorname"/>
              <xs:element type="xs:string" name="nachname"/>
              <xs:element name="adresse">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="strasse"/>
                    <xs:element type="xs:short" name="plz"/>
                    <xs:element type="xs:string" name="ort"/>
                    <xs:element type="xs:string" name="land"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="nummer"/>
              <xs:element type="xs:string" name="mail"/>
              <xs:element type="xs:int" name="kurse" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>