kunden.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kunde">
    <xs:complexType>
        <xs:sequence>
          <xs:element name="id">
            <xs:simpleType>
                <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0" />
                  <xs:maxInclusive value="999999" />
                </xs:restriction>
            </xs:simpleType>  
          </xs:element>  
          <xs:element name="vorname">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z -.]+" />
                </xs:restriction>
              </xs:simpleType>
          </xs:element>
          <xs:element name="nachname">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z -.]+" />
                </xs:restriction>
              </xs:simpleType>
          </xs:element>
          <xs:element name="adresse">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="strasse" type="xs:string" />
                <xs:element name="plz">
                  <xs:simpleType>
                    <xs:restriction base="xs:unsignedInt">
                      <xs:minInclusive value="00000" />
                      <xs:maxInclusive value="99999" />
                    </xs:restriction>
                  </xs:simpleType>  
                <xs:element name="ort" type="xs:string" />
                <xs:element name="land" type="xs:string" />
                </xs:element>    
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="nummer" type="xs:string" />
          <xs:element name="mail" minOccurs="0" maxOccurs="1">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[^@]+@[^\.]+\..+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element  name="kurse" minOccurs="0" maxOccurs="unbounded" type="xs:unsignedInt" />
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 