request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course_request">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="format"/>
              <xs:element type="xs:string" name="calltype"/>
              <xs:element type="xs:string" name="element"/>
              <xs:element type="xs:string" name="value"/>
              <xs:element type="xs:int" name="client"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>