data/kunden.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="kunden">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="kunde">
              <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string" />
                        <xs:element name="vorname">
                          <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[a-zA-Z -.]+" />
                              </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="nachname" type="xs:string" />
                        <xs:element name="adresse">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="strasse" type="xs:string" />
                              <xs:element name="plz"  type="xs:string" />
                              <xs:element name="ort" type="xs:string" />
                              <xs:element name="land" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="nummer" type="xs:string" />
                        <xs:element name="mail" type="xs:string" minOccurs="0" maxOccurs="1" />
                        <xs:element  name="kurse" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                    </xs:sequence>
              </xs:complexType>
          </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 