data/kurse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="veranstaltungen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="veranstaltung">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="guid">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedInt">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="999999" />
                  </xs:restriction>
                </xs:simpleType>  
              </xs:element>  
              <xs:element name="nummer" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="untertitel" type="xs:string" />
              <xs:element name="dvv_kategorie">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="version" type="xs:float" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="minimale_teilnehmerzahl">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>  
              </xs:element>  
              <xs:element name="maximale_teilnehmerzahl">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>  
              </xs:element>  
              <xs:element name="anzahl_termine">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>  
              </xs:element>  
              <xs:element name="beginn_datum" type="xs:date" />
              <xs:element name="ende_datum" type="xs:date" />
              <xs:element name="zielgruppe" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="schlagwort" type="xs:string" minOccurs="0" />
              <xs:element maxOccurs="unbounded" name="text" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="eigenschaft" type="xs:string" />
                    <xs:element name="text" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="veranstaltungsort">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="adresse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="land" type="xs:string" />
                         <xs:element name="plz">
                          <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <!-- VON NIKOLAIS GRUPPE KOPIERT-->
                                  <!-- PLZ hier als String, da Zahlen nur bei Berechnungen
                                    verwendet werden sollten. Der String kann leer sein-->
                                  <xs:pattern value="(^$|[0-9]{5})?"/>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:element>
                          <xs:element name="ort" type="xs:string" />
                          <xs:element name="strasse" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="barrierefrei" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="preis">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="betrag" type="xs:float" />
                    <xs:element name="rabatt_moeglich" type="xs:boolean" />
                    <xs:element name="zusatz" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="webadresse">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="typ" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element type="xs:anyURI" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="buchungid" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
          </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>